<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeContent %></p>

<% newPosts.forEach((newPost)=>{ %>
    <h1><%= newPost.title %></h1>
    <% const postContent= newPost.content.substring(0,100); %>
    <p> <%= postContent %> ... <a href="/posts/<%=newPost._id%>">Read More</a></p>
    
<% }) %>
<%- include("partials/footer") -%>